<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ejs Form </title>
</head>
<body>

    <form action="" method="post">
        <h4>* <input type="text" name="user" placeholder="Enter User Name :- "/> </h4>
        <h4>* <input type="password" name="pass" placeholder="Enter Pass Code :- "/> </h4>
        <input type="submit" value="SignIn">
    </form>

</body>
</html>